@model IEnumerable<GameStoreNew.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: white;">Index</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr style="color: white;">
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style="color: white;">
                <td style="color: white;">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
